.input{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  width: 450px;
  height: auto;
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
  overflow: hidden;
  font-size: 18px;
  transition: all 0.1s;

  &:focus-within{
    border: 1px solid rgb(236, 177, 252);
    box-shadow: 0 0 0 2px rgba(236, 177, 252, 0.308);
  }

  &_error{
    border: 1px solid red !important; // Тут он был необходим
    background-color: #ffffff;

    &:focus-within{
      box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.384);
    }
  }

  &_input{
    height: 40px;
    font-size: 18px;
    width: 100%;
    border: none;
    outline: none;
    padding-left: 2px;
    background-color: #ffffff;
    display: flex;
    align-items: center;

    &::placeholder{
      padding-left: 2px;
    }
  }
}

@media screen and (max-width: 800px) {
    .input{
        width: 80vw;
        max-width: 400px;
        
        &_input{
            font-size: 14px;
            height: 30px;
        }
    }
}