.form{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        gap: 20px;

        & .input{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;

            & p{
                font-size: 18px;
            }
        }

        & .btns{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}